.main-section {
	padding: 20px 0px 40px 25px;
	background-color: #FFF;
	width: 100%;
}

.welcome-block {
	margin: 0px 0px 50px 0px;
}

.init {
	opacity: 0;
	transform: translateX(-500px);
}

.init2 {
	opacity: 0;
	transform: translateX(-700px);
}

.init3 {
	opacity: 0;
	transform: translateX(-700px);
}

.welcome {
	transition: all 1000ms ease;
	margin-left: 50px;
	font-family: sans-serif;
	font-weight: 300;
	font-size: 3.5em;
}

.txt-section {
	padding: 30px;	
	transition: all 1900ms ease;
}

.txt-section p {
	padding: 10px 0px;
}


.row {
	margin-top: 20px;
	padding-left: 40px;
	transition: all 2100ms ease;
}

.box {
	background-color: white;
	width: 30%;
	margin: 1.5%;
	height: 200px;

	cursor: pointer;
}

.box1-child {
	width: 100%;
	height: 80%;
	background-color: #6249ff;
}

.box1-child2 {
	width: 100%;
	height: 80%;
	background-color: #183e7a;

}



.icons {
	opacity: 1;
	transition: all 300ms ease-in-out;
}

.icongreen {
	position: relative;
	color: #42f442;
	padding-bottom: 10px;
	padding-right: 10px;r

}

.iconyellow {
	position: relative;
	color: red;
	padding-bottom: 10px;
	padding-right: 10px;
}




@media (max-width: 991px) {
	.main-section {
		padding: 20px 0px 0px 10px;
	}

}

@media (max-width: 876px) {
	.box {
		width: 46%;
	}

}

@media (max-width: 751px) {
	.welcome-block {
		margin-top: 75px;
	}
	.box {
		width: 90%;
		margin-left: 25px;
	}
}