body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.drag_box{
	 background: #f1f1f1;
	 width: 100%;
    max-width: 680px;
	margin: 50px auto;
	position: relative;
	text-align: center;
}
.drag_box.after_dragbox{
	max-width: 1000px;
}
.upload_popup {
       width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    text-align: center;
    padding: 25px 0px;
    color: #fff;
    opacity: 1;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.drag_box .drag_icon.box__icon.dragimage_icon{
	text-align: left;
	padding-left: 25px;
}
.drag_box .border_box {
    outline: 2px dashed #3b5998;
	    outline-offset: -10px;
    padding: 100px 0px;
}
.drag_box .box__icon img {
    max-width: 150px;
}
.drag_box .demo-droppable {
      color: #333;
    text-align: center;
		padding: 10px 0px;
  }
.drag_box .demo-droppable p{
	font-size: 18px;
	color: #3B5998;
}
.drag_box .submit_btn{
	float:right;
	margin: 25px 35px !important;
}
.drag_box .box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #3B5998;
    display: block;
    padding: 10px 16px;
    margin: 0px auto;
    border: none;
    border: 1px solid #3b5998;
}
.drag_box .box__button:hover{
	 background-color: #1985ac;
	 border: 1px solid #1985ac;
}
.drag_box .output {
    position: relative;
    bottom: 0;
    left: 10px;
	overflow: auto;
	margin-top: 20px;
}
.drag_box .output_div{
	float: left;
    width: 21%;
    border: 1px solid #ddd;
    margin: 8px 5px;
    padding: 5px;
    border-radius: 5px;
	background: #fff;
}
.drag_box .output_div p {
    font-size: 13px;
	word-wrap: break-word;
}
.drag_box .output img {
    width: 100%;

}
.drag_box .box__icon{
	text-align: center;
}
.drag_box .support_txt {
    color: #417ed7;
    font-size: 14px;
    margin-top: 10px;
}
.display_table {
	width:100%;
	height: 100vh;
	display: table;
	
}
.vertical_align{
	display: table-cell;
	vertical-align: middle;
}