
#multilines .container1 {
	/*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
	position: relative;
	margin: 0px 0 10px;
	width: 300px;
	padding: 0px;

}

#multilines .container1:before, #multilines .container1:after {
	border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
	bottom: 0;
	/*box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);*/
	content: "";
	left: 10px;
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: -1;
}

#multilines ul.newsticker {
	display: block;
	margin: 0;
	padding: 0;
}

#multilines ul.newsticker > li {
	display: block;
	list-style: none;
	margin: 0;
	background-color: #fff;
	padding: 18px 0px;
	height: 80px;
	border-bottom: 1px dotted #3b5998;
	-o-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;

}
#multilines ul.newsticker li a{
	color: #3B5998;
}
#multilines ul.newsticker > li:hover {
	background-color: #e9f0ff;
}


@-webkit-keyframes redPulse {
  from { background-color: #ff2e2e; -webkit-box-shadow: 0 0 9px #555; }
  50% { background-color: #bd0000; -webkit-box-shadow: 0 0 14px #ff2e2e; }
  to { background-color: #ff2e2e; -webkit-box-shadow: 0 0 9px #555; }
}

@-moz-keyframes redPulse {
  from { background-color: #ff2e2e; -moz-box-shadow: 0 0 9px #555; }
  50% { background-color: #bd0000; -moz-box-shadow: 0 0 14px #ff2e2e; }
  to { background-color: #ff2e2e; -moz-box-shadow: 0 0 9px #555; }
}

@keyframes redPulse {
  from { background-color: #ff2e2e; box-shadow: 0 0 9px #555; }
  50% { background-color: #bd0000; box-shadow: 0 0 14px #ff2e2e; }
  to { background-color: #ff2e2e; box-shadow: 0 0 9px #555; }
}