body{
	margin: 0px;
	padding: 0px;
}

.hidden {
    display: none;
}

.txt_only {
    padding-left: 50px;
}
.clear{
	clear: both;
}
ul{
	padding-left: 0px;
	list-style: none;
}
a:hover, a:focus{
	text-decoration: none !important;
}
.top_navbar {
    padding: 12px 0px;
    background-color: #3B5998;
    color: #fff;
    position: fixed;
    z-index: 9999;
    width: 100%;
	top: 0px;
}
.top_navbar .logo a {
	margin: 0px;
    font-size: 17px;
	 /* font-family: cursive; */
	color: #fff;
}
.top_navbar .logo a:hover, .top_navbar .logo a:focus{
	text-decoration: none;
}
.top_navbar .logo {
    padding: 5px 0px;
	float: left;
}
.top_navbar .right_col {
    text-align: right;
	padding: 10px 0px;
}
/* online-user */
#online-user::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#online-user::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#online-user::-webkit-scrollbar-thumb
{
	background-color: #9E9E9E;
	border: 1px solid rgba(85, 85, 85, 0);
}

/* group */

#group::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#group::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#group::-webkit-scrollbar-thumb
{
	background-color: #9E9E9E;
	border: 1px solid rgba(85, 85, 85, 0);
}
/* group */

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #9E9E9E;
	border: 1px solid rgba(85, 85, 85, 0);
}

#rcnt::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#rcnt::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#rcnt::-webkit-scrollbar-thumb
{
	background-color: #9E9E9E;
	border: 1px solid rgba(85, 85, 85, 0);
}

#style-chat::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-chat::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#style-chat::-webkit-scrollbar-thumb
{
	background-color: #9E9E9E;
	border: 1px solid rgba(85, 85, 85, 0);
}

div#style-chat {
    width: 100%;
    float: left;
    height: 62vh;
    overflow-y: scroll;
	padding-top: 20px;
} 
.chat-sec {
	padding-top: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	float: left;
	height: 67vh;
}
.txt-1 {
    background: #3F51B5 !important;
}
.txt-2 {
    background: #00BCD4 !important;
}
.txt-3 {
    background: #9C27B0 !important;
}
.txt-4 {
    background: #4CAF50 !important;
}
.top_navbar .right_col a{
	    font-size: 17px;
	margin: 0px;
	color: #fff;
	 /* font-family: cursive; */
}
.sc_wrap  .post_section img {
    width: 100%;
} 
 .sc_wrap  .image_sec img {
     width: 100%;
     object-fit: cover;
} 
/* .sc_wrap .sc_row {
    padding: 65px 0px 0px;
} */
.sc_wrap .sc_row .sc_col {
	padding: 0px; 	
	/* overflow: auto; */
}
.sc_wrap .post_box {
       border: 1px solid #f1f2f2;
       padding: 15px 20px;
       margin: 20px 0px;
       border-radius: 5px;
       background: #ffffff;
       overflow: auto;
}
.sc_wrap .recactivity_box {
    border: 1px solid #ddd;
    padding: 15px 5px 0;
	margin: 15px 5px;
	width:49%;
	 float: left;
}
.sc_wrap .recactivity_box .user_pic img{
	height: 100px;
}
.sc_wrap .user_profile {
	text-align: center;
	width: 100%;
	/* background: #f8f8f8; */
	overflow: auto;
	padding: 5px 0px;
	border-bottom: 1px solid #f0f0f1;
}
.sc_wrap .user_pic {
    width: 10%;
    float: left;
    text-align: left;
}
.sc_wrap .cmnt_section {
    width: 100%;
    float: right;
}
.sc_wrap .user_pic img {
   width: 100%;
   max-width: 60px;
   border-radius: 100px;
   padding: 5px;
   height: 60px;
   object-fit: cover;
}
.sc_wrap .like_cmnt {
    list-style: none;
    padding-left: 0px;
	margin-top: 10px;
}
.sc_wrap .like_cmnt:focus{
	text-decoration: none;
}
.sc_wrap .like_cmnt li{
	float: left;
       padding-right: 25px;
}
.sc_wrap .like_cmnt li a{
	 color: #1985ac;
	    /* font-family: cursive; */
	font-weight: 600;
}
.sc_wrap .like_cmnt li a:hover{
	text-decoration: none;
}
.sc_wrap .latestnews_section .news_txt {
    margin:15px 0px 0px; 
   color: #3b5998;
	 font-size: 28px;
	font-weight: 600;
}
.sc_wrap .userprofile_section .name_txt {
    margin: 0px;
	font-size: 24px;
	text-align: center;
	font-weight: 600;
	color: #fff;
}
.sc_wrap  .usr_txt {
    margin: 0px;
	 font-size: 24px;
	text-align: left;
	font-weight: 600;
	  color: #3b5998;
}
.sc_wrap  .addfrnd_txt {
    margin: 0px;
	 font-size: 24px;
	text-align: left;
	font-weight: 600;
	  color: #3b5998;
}
.sc_wrap .img_content p {
    margin: 0px 0px 10px;
	text-align: left;
	color: #6d6e71;
	line-height: 25px;
}
.sc_wrap .time_sec {
    text-align: left;
    margin: 0 0px;
    color: #8e8e8e;
    font-weight: 600;
    width: 90%;
    float: left;
    padding: 20px 10px 15px;
}
.sc_wrap .time_sec .timer_txt a {
  color: #1985ac;
    text-align: right;
    font-weight: bold;
	 /* font-family: cursive; */
    
}
.sc_wrap .time_sec .timer_txt a:hover{
	text-decoration: underline;
}
.sc_wrap .userprofile_section {
    background: transparent;
	 padding: 0px;
	height: 100vh;
    position: fixed;
    right: 0;
	top: 0px;
	 z-index: 1;
}
.sc_wrap .userpic_img img {
    width: 100%;
}
.sc_wrap .userpic_img {
    text-align: center;
     padding: 15px 0 5px;
}
.sc_wrap .userpic_img img {
    width: 100%;
    max-width: 150px;
    margin: 12px 0 0;
}
.sc_wrap .usrdet-list {
    list-style: none;
    padding-left: 0px;
    margin: 5px 0px;
	padding-top: 45px;
}
.sc_wrap .usrdet-list.myacc_list{
	padding:0px;
}
.sc_wrap .usrdet-list li {
    padding: 5px 0px;
    text-align: center;
    color: #fff;
}
.sc_wrap .usrdet-list li a {
    margin-left: 0;
    color: #fff;
    display: block;
    background: #2f5096;
    padding: 10px 0px;
    margin: 5px 0px;
	font-size: 13px;
}
.sc_wrap .onlineuser_list img {
    width: 100%;
    max-width: 150px;
    border-radius: 100px;
    border: 1px solid #ddd;
}
.sc_wrap .onlineuser_list {
	margin: 15px 0 0;
}
.sc_wrap .onlineuser_list li {
    float: left;
    width: 20%;
    margin: 5px;
}
.sc_wrap .onlineuser_list img {
   width: 100%;
    max-width: 150px;
    border-radius: 100px;
    border: 1px solid #ddd;
    height: 65px;
    object-fit: cover;
}
.top_navbar.search {
  width: 100%;
  position: relative
}

.top_navbar .searchTerm {
  float: left;
    width: 100%;
    border: 3px solid #2f5096;
    padding: 5px;
    height: 37px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.top_navbar .searchTerm:focus{
  color: #00B4CC;
}

 .top_navbar .searchButton {
      position: absolute;
    right: -20px;
    width: 40px;
    height: 37px;
    border: 1px solid #3b5998;
    background: #fff;
    text-align: center;
    color: #3b5998;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.top_navbar .wrap{
  width: 100%;
 }
.sc_wrap .acc_list {
    position: absolute;
    width: 100%;
    bottom: 0px;
 }
.sc_wrap .acc_list .fa{
	margin-right: 5px;
}
.sc_wrap .acc_list li {
    padding: 5px;
    text-align: center;
    width: 100%;
}
.sc_wrap .acc_list li a {
    color: #fff;
    text-align: center;
}
.sc_wrap  .usrdet-list .fa,.like_cmnt fa {
    margin-right: 5px;
}
.top_navbar .icon_list {
    float: left;
    text-align: right;
    width: 50%;
    margin-bottom: 0px;
}
.top_navbar .iconbar {
    margin: 0px;
	float: right;
	margin-top: 4px;
}
.top_navbar .iconbar li {
    padding: 0px;
    float: left;
	margin: 2px 3px;
}
.top_navbar .iconbar li a {
   color: #fff;
    font-size: 16px;
}

.sc_wrap .addfriend_section {
    margin: 20px 0px 0px;
}
.sc_wrap .addfrnd_list {
    padding: 15px 0px;
}
.sc_wrap .addfrnd_list li {
    padding: 8px 0px;
	border-bottom: 1px #ddd solid;
    
}
.sc_wrap .addfrnd_list .adfrnd_row {
    width: 100%;
}
.sc_wrap .adfrnd_row .lft_col {
    width: 60%;
    float: left;
}
.sc_wrap .adfrnd_row .lft_col .lft_img {
    float: left;
}
.sc_wrap .adfrnd_row .rt_col {
   float: left;
    width: 40%;
    padding: 5px 0 0;

}
.sc_wrap .adfrnd_row .lft_col img{
	width: 100%;
	border-radius: 100px;
	max-width: 50px;
	height: 50px;
	object-fit: cover;
}
.sc_wrap .nametxt {
    padding: 15px;
    color: #2f5096;
    font-weight: 900;
    float: left;
}
.sc_wrap .addfrnd_btn {
       background: #2f5096;
    color: #fff;
    padding: 10px 5px;
    width: 100px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}
.sc_wrap .crossbtn {
    font-size: 20px;
    margin-left: 5px;
}
.sc_wrap .sc_textarea{
	margin: 8px 0px;
	text-align: left;
}
.sc_wrap .coverpic_img {
    border: 1px solid #ddd;
	margin: 10px;
}
.sc_wrap .usraccount_section {
	padding: 0;
}
.sc_wrap .usraccount_section .coverpic img {
    width: 100%;
}
.sc_wrap .usraccount_section .userdetail_list{
	
}
.sc_wrap .usraccount_section .userdetail_list li {
   padding: 5px 0; 
 
}

.sc_wrap .det_box {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 8px;
}
.sc_wrap .usraccount_section .userdetail_list li a {
    color: #2f5096;
}
.sc_wrap  .sc_row.accnt_row{
	padding: 65px 0px;
}
.sc_wrap  .usraccount_section .recact_box h1 {
    margin: 0px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" !important;
    font-size: 24px;
    text-align: left;
    font-weight: 600;
    color: #3b5998;
}
.sc_wrap .colm_section {
    width: 100%;
    padding: 15px 0;
}
.sc_wrap  .usraccount_section .recact_box {
    padding: 25px 0px;
}
.sc_wrap .nme-txt {
    display: block;
    color: #3b5998;
    font-weight: 800;
	    margin: 5px 0px;
}
.sc_wrap .username_txt {
    display: block;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
.sc_wrap .usraccount_section .userdetail_list .fa {
    margin-right: 5px;
	
}
.sc_wrap  .whts_on_ur_mind {
    border: 1px solid #ddd;
	padding: 10px;
}
.sc_wrap .whts_on_ur_mind input {
    padding: 15px;
    width: 100%;
    border: 1px solid #ddd;
}
.sc_wrap .whts_on_ur_mind input:focus{
	outline: none;
}
.sc_wrap .update_btn {
    border: none;
    background: #3b5998;
    color: #fff;
    font-size: 14px;
    padding: 5px 8px;
	margin: 5px;
    float: right;
	margin: 104px 5px 0;
}
.sc_wrap .latestnews_section .newsticker img{
	width: 100%;
    max-width: 50px;
    border-radius: 100px;
    float: left;
    margin-right: 5px;
	 height: 50px;
    object-fit: cover;
}
.sc_tooltip {
    position: relative;
    display: inline-block;
}
span.badge.badge-pill.badge-danger {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: 0;
    background: #f86c6b;
}
.sc_tooltip .sc_tooltiptext {
	visibility: hidden;
	width: 120px;
	/* background-color: #2f5096; */
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 0px 0;
	position: absolute;
	z-index: 1;
	font-size: 12px;
}

.sc_tooltip:hover .sc_tooltiptext {
    visibility: visible;
}
.sc_wrap .left_sidebar {
    list-style: none;
	/* margin-top: 10px; */
	/*padding: 0px 10px;*/
}
.sc_wrap .left_sidebar li{
margin-top: 7px;
    /* border-top: 1px solid #eceff1; */
    /* border-bottom: 1px solid #eceff1; */
    /* background: -webkit-linear-gradient(#f1f1f1,#f1f1f1,#c5c5c5); */}
.sc_wrap .left_sidebar li:nth-child(1) {
    margin-top: 0;
}
a.active:hover {
    background: #1985ac !important;
}
button.btn.btn-primary.pull-right.publish_btn {
    background: #3b5998;
    border-color: #3b5998;
	    border-radius: 0;
}
button.btn.btn-primary.pull-right.publish_btn:hover {
    background: #1985ac;
    border-color: #1985ac;
}
.sc_wrap .left_sidebar .fa{
	margin-right: 5px;
}
.sc_wrap .left_sidebar li a {  
    font-size: 14px;
	color: #3b5998;
	display: block;
	padding: 10px;
	transition: .2s ease;
}
.sc_wrap .left_sidebar li a:hover, .sc_wrap .left_sidebar li .active{
		background: #3b5998;
	color: #fff;
}
.sc_wrap .userprofile_section .chat_section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 3px solid #f8f8f8;
    border-bottom: none;
    background: #3b5998;
    cursor: pointer;
}
.sc_wrap .userprofile_section .chat_section .chat_txt{
	    position: relative;
	/* border: 1px solid #ddd; */
}
.sc_wrap .userprofile_section .chat_section .chat_txt .chat_txt_inline{
	font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding-left: 10px;
	   /*  font-family: cursive; */
}
.sc_wrap  .latestnews_section {
    /* background: #ffffff; */
    height: 100vh;
	padding: 0px;
}
.sc_wrap .whts_on_mind {
	overflow: auto;
    border-bottom: 1px solid #ddd;
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 4px;}
.sc_wrap .img_sec {
    width: 10%;
    float: left;
}
.sc_wrap .img_sec img{
	width:50px;
	border-radius: 100px;
    border: 1px solid #f8f8f8;
}
.sc_wrap .status_sec{
	 width: 60%;
	 float: left;
}
.sc_wrap .sc_tools{
	 width: 30%;
	 float: left;
}
.sc_wrap .list-inline {
    margin: 0px;
    float: left;
	padding: 15px 20px;
}
.sc_wrap .list-inline a{
	color: #9a9a9a;
}
.sc_wrap textarea.form-control{
	line-height: 35px;
}
.sc_wrap .publish_btn {
    margin: 8px 0px 0px;
        background: #10c2f7;
    border: 1px solid #10c2f7;
}
.sc_wrap .publish_btn:hover, .sc_wrap .publish_btn:focus{
	background: #10c2f7;
	border: 1px solid #10c2f7;
	outline: none;
}
.sc_wrap .chat_inline{
	display: none;
	background: #fff;
    overflow: auto;
	padding: 5px;
}
.sc_wrap .chat_box {
    width: 100%;
}
.sc_wrap .chat_usr_img {
    width: 25%;
    float: left;
}
.sc_wrap .chat_usr_img img {
    width: 40px;
    border-radius: 100px;
    height: 40px;
    object-fit: cover;
}
.sc_wrap .chat_usr_name {
    width: 50%;
    float: left;
    padding-left: 5px;
}
.sc_wrap .chat_usr_name h6{
	padding: 10px 0px;
	font-size: 12px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif" !important;
}
.sc_wrap .chat_box {
    width: 100%;
    overflow: auto;
    padding: 5px 0px;
	position: relative;
}
.sc_wrap .chat_box:after {
	content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #67d209;
     top: 25px;
    right: 25px;  
    border-radius: 100px;
}
.sc_wrap  .cross_btn {
    position: absolute;
    top: -10px;
    right: 0px;
    padding: 10px;
    color: #fff;
	font-size: 15px;
    
}
.sc_wrap .post_cmnt {
    width: 100%;
}
.sc_wrap .cmnt_inline {
    padding-left: 20px;
}
.sc_wrap .cmnt_inline li{
	padding: 0px;
	border-bottom: 1px solid #ddd;
}
.sc_wrap .cmnt_inline li:last-child{
	border-bottom: none;
}
.sc_wrap .cmnt_img {
    width: 10%;
    float: left;
}
.sc_wrap .cmnt_content {
    width: 100%;
    float: left;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;

}
.sc_wrap .cmnt_row {
    padding: 15px 0px;
}
.cmnt_row::after{
	content: '';
	clear: both;
	display: table;
}
.sc_wrap .cmnt_img img {
   width: 50px;
    border-radius: 100px;
    height: 50px;
    object-fit: cover;
}
.sc_wrap .cmnt_left_col {
    width: 90%;
    float: left;
}
.sc_wrap .cmnt_content p {
    text-align: left;
    color: #8e8e8e;
    float: left;
	margin: 0px;
}
.sc_wrap .time_sec1 {
     text-align: left;
     margin: 10px 0px 0;
     color: #8e8e8e;
     width: 100%;
}
.top_navbar .search {
    padding: 5px 0px;
}
.sc_wrap .time_sec1 .timer_txt a {
  color: #1985ac;
    text-align: right;
    font-weight: bold;
	/*  font-family: cursive; */
    
}
.sc_wrap .time_sec1 .timer_txt a:hover{
	text-decoration: underline;
}
.sc_wrap .outer_div {
    width: 100%;
    padding: 25px;
}
.sc_wrap .sc_msngr_box {
width: 100%;
    float: left;
    /* max-width: 970px; */
    margin: 0px auto;
    border-radius: 5px;
    padding-top: 55px;
    /* height: 85vh; */
}
position: relative;
    top: 24px
h1.chat.heading {
    margin-bottom: 9px !important;
    background: -webkit-linear-gradient(#f1f1f1,#f1f1f1,#c5c5c5);
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.sc_wrap .sc_msngr_box h1{
	text-align: center;
	font-size: 18px;
	color: #3b5998;
    padding: 10px 0px;
    margin: 0;
}
.sc_wrap .msngr_row {
	background: #fff;
    width: 100%;
    float: left;
    border: 1px solid #ddd;
	height: 83vh;
}

.sc_wrap .chat_user_colm h2 {
    text-align: center;
    font-size: 18px;
    margin: 0px;
    padding: 5px 0px;
	/* font-family: cursive; */
	color: #fff;
}
.sc_wrap .user_chat_box li{
	padding: 4px 12px;
	    border-bottom: 1px solid #ddd;
cursor: pointer;
transition: all 0.5s;
}
.sc_wrap .user_chat_box li:nth-child(6) {
    border-bottom: none;
} 
.sc_wrap .user_chat_box li:last-child{
	border-bottom: none;
}
.sc_wrap .user_chat_box li::after{
	content:'';
	display: table;
	clear: both;
}
.sc_wrap .user_chat_box li:hover{
	background: #f8f8f8;
	    box-shadow: 0px 0px 15px #aaa;
}
.sc_wrap .chat_img {
    width: 10%;
    float: left;
}
.sc_wrap .chat_details {
    width: 75%;
    float: left;
    padding: 6px 37px 0;
	}
.sc_wrap .chat-time {
    width: 15%;
    float: left;
	padding: 10px 0px;	
    margin-left: -15px;
}
.sc_wrap .chat-time p{
	font-size: 13px;
	color: #aaa;
}
.sc_wrap .chat_img img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100px;
}
.sc_wrap .chat_details .usr_name_txt {
    background: none ;
    text-align: left;
    font-size: 13px ;
	color: #333;
}
.sc_wrap .chat_details p
{
	font-size: 13px;
	color: #aaa;
}
.sc_wrap .chat_user_colm{
	padding:0px;
/*     border-right: 1px solid #ddd;*/
height: 75vh;
    overflow-y: scroll;
}
/* div#recent {
    overflow-y: scroll;
    height: 70vh;
} */
.sc_wrap .msngr_searchbar {
    padding: 3px;
}
.sc_wrap .msngr_searchbar input[type=text] {
    width: 100%;
    box-sizing: border-box;
 border: 0px ;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url(../img/searchicon.png);
    background-position: 98% 5px;
    background-repeat: no-repeat;
    padding: 5px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.sc_wrap .rs_row {
    width: 100%;
	padding: 0 1px 5px;
}
.sc_wrap .rs_row::after{
	content: '';
	clear: both;
	display: table;
}
.msngr_propic {
	padding: 10px 0 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
	    display: none;
}
.msngr_onlineusr {
    border-top: 1px solid #3b5998;
    border-bottom: 1px solid #3b5998;
    background-color: #3b5998;
    color: #fff;
    padding: 8px 10px;
	margin-bottom: 1px;
}
.msngr_onlineusr h6 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
i.bdge {
    color: #67d209;
    position: absolute;
    font-weight: bold;
    font-size: 17px;
}
.msngr_propic img.img-responsive {
    width: 75%;
    margin: 0 auto;
	border-radius: 50%;
    box-shadow: 0 0 10px #ddd;
}
.sc_wrap .recieve_box {
    width: 50%;
    margin-bottom: 25px;
	float: left;
}
.sc_wrap .sender_box {
    width: 50%;
    float: right;
    padding: 5px 0px 0;
}
.sc_wrap .reciver_img img {
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 100px;
}
.sc_wrap .reciver_img {
	width: 15%;
    float: left;
    text-align: center;
    padding: 0 15px;
    position: relative;
}
.sc_wrap .rec_txt {
	max-width: 65%;
	float: left;
	padding: 8px;
	border-radius: 4px;
	background: #E0E0E0;
	color: #3b5998  !important;
	margin: 0px 10px; 
	font-size: 15px;
	font-weight: 500;
	box-shadow: 0px 2px 5px #aaa;
}
.sc_wrap .rec_txt::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #e0e0e0;
    position: relative;
    top: -8px;
    left: -22px;
    float: left;
}
.sc_wrap  .sender_img{
	width: 25%;
    padding: 0 15px;
    float: right;
    text-align: center;
}
.sc_wrap  .sender_img img{
	width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 100px;
}
.sc_wrap .sender_txt {
	max-width: 65%;
	float: right;
	padding: 8px;
	border-radius: 4px;
	background: #9E9E9E;
	color: #fff;
	/* margin: 5px 10px; */
	font-size: 15px;
	font-weight: 500;
	box-shadow: 0px 2px 5px #aaa;
	}
.sc_wrap .sender_txt::after {
        content: "";
display: block;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #9E9E9E;
    border-right: 0px solid #9E9E9E;
    position: relative;
    top: -8px;
    left: 20px;
    float: right;
}
.sc_wrap .rec_send_box{
	padding: 0px;
	border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
height: 75vh;
    /* overflow-y: scroll; */
}
.sc_wrap .chat_person_name h1 {
      background: #fff !important;
    padding: 0px;
	text-align: left;
	float: left;
}
.sc_wrap .recent_txt, .sc_wrap .chat_person_name {
    padding: 5px 0px;
}
.sc_wrap .recent_txt{
	border-bottom: 1px solid #ddd;
	background: #3B5998;
	width: 100%;
    float: left;
}
.sc_wrap .msg_txtarea textarea {
    border: none;
	box-shadow: none;
}
.sc_wrap .msg_txtarea {
    width: 80%;
	float: left;
}
.sc_wrap .msg_icon {
    width: 20%;
    float: right;
    text-align: right;
}
.sc_wrap .icons_inline {
       padding: 15px 0;
    text-align: right;
    overflow: auto;
    float: right;
	margin: 0;
}
.msngr_chatrom1 {
    border-top: 1px solid #3b5998;
    border-bottom: 1px solid #3b5998;
    background-color: #3b5998;
    color: #fff;
    padding: 8px 10px;
    margin-bottom: 1px;
}
.msngr_chatrom1 h6 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.msngr_chatrom2 {
	border-top: 1px solid #3b5998;
    border-bottom: 1px solid #3b5998;
    background-color: #3b5998;
    color: #fff;
    padding: 8px 10px;
    margin-bottom: 1px;
	width: 100%;
    float: left;
    margin-top: 10px;
}
.msngr_chatrom2 h6 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.sc_wrap .icons_inline li {
    float: left;
    padding: 5px 10px;
}
.sc_wrap .msg_txtarea textarea:focus{
	outline: none;
	box-shadow: none;
}
.sc_wrap .icons_inline .fa{
	font-size: 18px;
	color: #3b5998;
}
.sc_wrap  .sc_row .msg_row{
border-top: 1px solid #ddd;
    /* margin: 8px 0px; */
    border-bottom: 1px solid #ddd;
    width: 100%; 
    float: left; 
	position: absolute;
    bottom: 0;
    /* position: fixed; */
    /* bottom: 60px; */
    /* width: 61.8%; */
    background: #fff;
}
ul.user_chat_box {
    border-top: 1px solid #ddd;
}
.sc_wrap .outer_top_div {
    border-bottom: 1px solid #ddd;
   /*  overflow: auto;
	position: fixed; */
    width: 100%;
    /* top: 115px; */
    float: left;
    background: #fff;
	box-shadow: 0 0px 12px 0 #aaa;
}
.rs_row:nth-child(5) {
    margin-bottom: 28px;
}
.chat_person_name img.img-responsive {
    width: 55px;
    height: 55px;
    float: left;
    object-fit: contain;
    border-radius: 50%;
}
.sc_wrap .chat_person_name {
   width: 50%;
    float: left;
    padding: 5px 20px;
}
.sc_wrap .chat_person_name p {
    float: left;
    text-align: right;
    padding: 0px 2px;
    margin-bottom: 0px;
    /* padding: 30px 15px; */
    font-size: 13px;
    color: #bdbdbd;
}
.sc_wrap .outer_top_div p span {
    color: #fff;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
}
/* .sc_wrap .outer_top_div p {
margin: 0 4px 10px;
    text-align: center;
} */
.uname {
    width: 50%;
    float: left;
    padding: 7px 6px;
}
	.col-md-8.col-sm-8.col-xs-12.rec_send_box.chatsc {
    overflow: hidden;
	height: 100vh;
	border-right: 0;
}
.outer_top_div.chathead {
    position: relative;
    top: 0;
    width: 100%;
}
.msg_row.msgsend {
    position: relative !important;
    width: 100% !important;
    bottom: 0 !important;
}
.col-md-4.col-sm-12.col-xs-12.chat_user_colm.rcnt {
    overflow: hidden;
    height: auto;
}
.sc_wrap .riteside_icon {
    width: 50%;
    float: right;
    text-align: right;
	display: none;
}
.sc_wrap .msngr_icons {
    text-align: right;
    float: right;
    margin: 0px;
    padding: 32px 14px;
}
.sc_wrap .msngr_icons li {
    float: left;
    padding: 0px 10px;
}
.sc_wrap .msngr_icons .fa{
	font-size: 18px;
	color: #1985ac;
	
}
button.btn.btn-info {
    display: none;
}
.collapse {
    display: block ;
}
.onclick_function {
    padding: 6px 0;
}
h5.chat_txt_inline {
    margin: 0;
}
.sc_wrap .recent_txt button.btn.btn-info {
    display: block;
    background: none;
    border: 0;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}
.sc_wrap .recent_txt i.fa.fa-caret-down {
    display: none;
}
.mobile-sec {
    display: none;
}
div#group {
    display: none;
}
.col-rt {
    display: block;
}
/* div#style-4 .rs_row {
    padding-left: 15px;
} */
.main .container-fluid.msrgrp {
    padding: 0;
}
.main .container-fluid.msrgrp .sc_wrap .sc_msngr_box {
    padding: 60px 0 0;
	padding-left: 19px;
}
.main .container-fluid.msrgrp .sc_wrap .chat_user_colm {
    height: 83vh;
}
.main .container-fluid.msrgrp .sc_wrap .rec_send_box {
    height: 83vh;
}
.header-fixed .app-body.apmsrgrp {
    margin-bottom: 0px;
	overflow: hidden;
}
li.inbreadcrumb::before {
    display: none;
}
li.inbreadcrumb {
    position: absolute;
    top: 0;
    right: 22%;
	    padding: 2px 0;
}
/* --------media query---------- */

@media only screen and (min-width: 768px){
.sc_wrap .reciver_img {
    padding: 0;
}
.sc_wrap .sender_img {
    padding: 0;
}
}	
@media screen and (max-width: 750px) {
.main .container-fluid.msrgrp .sc_wrap .sc_msngr_box {
    padding: 0px 0;
    overflow: hidden;
}	
li.nav-item.px-3.dropdown.drpwn.open ul.dropdown-menu {
    background: #fff;
}
div#style-chat {
    padding-top: 10px;
}

.sc_wrap .rec_send_box {
    height: auto;
}
.mobile-sec {
    display: block;
}
.collapse.in {
    display: block !important;
}
.col-rt {
    display: none;
}
.chat-sec {
    padding: 10px 5px 0px;
}
.msngr_propic {
    display: none;
}
div#online-user {
    height: 60vh;
    overflow-y: scroll;
    margin-top: 10px;
}
div#group {
    height: 60vh;
    overflow-y: scroll;
    margin-top: 10px;
}
.mobile-sec button {
    width: 48%;
    float: left;
    margin-left: 2px;
}
.mobile-sec span {
    padding: 0 6px;
}
.mobile-sec button {
    width: 48%;
    float: left;
    margin-left: 2px;
    color: #fff;
    background: #3b5998;
    border: 1px solid #3b5998;
    transition: all 0.5s;
}
.mobile-sec button:hover {
    background: #1985ac;
    border-color: #1985ac;
}
main .container-fluid {
    padding: 0px !important;
}
.sc_wrap .sc_row .msg_row.grup-textarea {
    position: relative;
    width: 100%;
    float: left;
    bottom: 0;
    margin: 0;
}
.chat_person_name img.img-responsive {
    width: 55px;
    height: 55px;
}
.sc_wrap .outer_top_div {
    position: relative;
    top: 0;
    width: 100%;
    float: left;
}
ol.breadcrumb {
    position: relative;
    top: 0;
}
.sc_wrap .userprofile_section {
    background: transparent;
    padding: 0px;
height: auto;
    position: fixed;
    right: 0;
    top: 100%;
    bottom: 0;
    z-index: 1;
}	
.top_navbar .icon_list {
    float: right;
    text-align: right;
    width: 50%;
    margin-bottom: 0px;
}
.top_navbar .searchButton {
    right: 18px;
}
/* .sc_wrap .sc_row {
    padding: 46px 0px 0px;
} */
.sc_wrap .latestnews_section {
    background: #f8f8f8;
    height: auto;
    padding: 0px;
}
.post_section {
    padding: 0 !important;
}
.sc_wrap .whts_on_mind {
    padding: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
.sc_wrap .status_sec {
    width: 75%;
    float: right;
}
.sc_wrap .sc_tools {
    width: 100%;
    float: left;
}
.sc_wrap .user_pic {
    width: 30%;
    float: left;
    text-align: left;
}
.sc_wrap .time_sec {
    text-align: inherit;
    width: 70%;
    float: right;
    padding: 4px 10px;
}
.sc_wrap .image_sec img {
    width: 100%;
    object-fit: cover;
}
.sc_wrap .cmnt_inline {
    padding-left: 0px;
}
.sc_wrap .cmnt_img {
    width: 100%;
    float: left;
    text-align: center;
}
.sc_wrap .cmnt_left_col {
    width: 100%;
    float: left;
    margin-top: 10px;
}
button.btn.btn-info {
    display: block;
	background: none;
    border: none;
    outline: none;
    float: left;
    width: 100%;
    text-align: right;
}
.collapse {
    display: none;
}
/* --------messenger-------- */
.sc_wrap .outer_div {
    padding: 10px 0 0 0;
}
.recent_txt {
    padding: 0px !important ;
}
.sc_wrap .sc_msngr_box {
    border: none;
}
.sc_wrap .msngr_row {
    background: none;
	border: 0;
}
.sc_wrap .recent_txt button.btn.btn-info {
    display: block;
}
.recent_txt i.fa.fa-caret-down {
    position: absolute;
    top: 7px;
    right: 15px;
display: block !important;}
.col-md-8.col-sm-8.col-xs-12.rec_send_box.chatsc {
    background: #fff;
}
.sc_wrap .chat_user_colm {
    border: 1px solid #ddd;
	background: #fff;
	height: auto !important;
	overflow: hidden;

}
.sc_wrap .rec_send_box {
    padding: 0px;
    margin: 10px 0 0 0;
    border: 1px solid #ddd;
background: #fff;
}
.sc_wrap .chat_person_name {
    padding: 5px;
	width: 100%;
    float: left;
}
.sc_wrap .riteside_icon {
    width: 100%;
    float: left;
}
.sc_wrap .riteside_icon .msngr_icons {
    padding: 0;
    /* text-align: center; */
}
.col-md-8.col-sm-8.col-xs-12.rec_send_box.chatsc {
    overflow-y: scroll;
}
.sc_wrap .chat_person_name h1 {
    padding: 18px 15px;
}
.sc_wrap .chat_person_name p {
    padding: 2px 0 0;
    text-align: left;
}
.sc_wrap .recieve_box {
    width: 100%;
    float: left;
    /* text-align: left;
	padding: 10px 0 0 5px; */
}
.sc_wrap .reciver_img {
    /* width: auto;
    float: left; */
	    padding: 0px;
}
.sc_wrap .rec_txt {
    /* width: 65%;
    float: right; */
}
.sc_wrap .sender_box {
    width: 100%;
    float: right;
    /* padding: 10px 5px 0 0; */
}
.sc_wrap .sender_txt {
    /* width: 65%;
    float: left; */
}
.sc_wrap .sender_img {
	    padding: 0px;
    /* width: auto;
    float: right; */
}
/* .sc_wrap .sc_row .msg_row {
    border-top: none;
    margin: 0;
} */
.sc_wrap .msg_txtarea {
    width: 100%;
    float: left;
}
.sc_wrap .msg_icon {
    width: 100%;
    float: left;
    /* text-align: right; */
}
.sc_wrap .icons_inline {
    width: 100%;
    float: left;
    margin: 0;
    border-top: 1px solid #ddd;
    padding: 0;
}
}
