<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
<meta name="author" content="Łukasz Holeczek">
<meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">
<link rel="shortcut icon" href="img/favicon.png">
<title>Messenger</title>
<!-- Icons -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/simple-line-icons.css" rel="stylesheet">
<!-- Main styles for this application -->
<link rel="stylesheet" type="text/css" href="css/smstyle.css">
<link rel="stylesheet" href="css/smnewsTicker.css">
<link rel="stylesheet" href="css/smbootstrap.css">
<link href="css/style.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>

		 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


<style>
	
	 p {
		margin-left: 15px;
	}

	.reciver_img {
		width: 15%;
	}

	.chat-sec {
		padding-bottom: 20px;
	}
</style>
</head>
	<body class="app header-fixed  aside-menu-fixed aside-menu-hidden sidebar-hidden">
<!-------- header section start------------>
		<header class="app-header navbar">
		<a class="navbar-brand-text" href="#"><img src="img/logo1.png" /></a>






		

			<ul class="nav navbar-nav d-md-down-none" style="margin-left: 75px;">

				<li class="nav-item barr">
					<button class="dropbtn arownone"><a class="nav-link navbar-toggler sidebar-toggler" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></button>
				</li>

				<li class="nav-item px-3 dropdown drpwn">
					<a href="#" class="dropdown-toggle" data-toggle="drpwn">Tracking</a>
				</li>
					<ul class="dropdown-menu" style="display: none;">
						<li><a href="campaigns.html">Dashboard</a></li>
						<li><a href="#">Reports</a></li>
					</ul>
				</li>

				<li class="nav-item px-3 dropdown drpwn">
					<a href="#" class="dropdown-toggle" data-toggle="drpwn">Tools</a>
					<ul class="dropdown-menu" style="display: none;">
						<li><a href="creation.html">Creation</a></li>
						<li><a href="#">Template</a></li>
					</ul>
				</li>

				<li class=" nav-item px-3 dropdown drpwn">
					<a href="#" class="dropdown-toggle" data-toggle="drpwn">Campaign Talk</a>
					<ul class="dropdown-menu">
						<li><a href="social_media.html">Feed</a></li>
						<li><a href="myaccount.html">Profile</a></li>
						<li><a href="messenger.html">Live Chat</a></li>
						<li><a href="#">Live Chat (Group)</a></li>
					</ul>
				</li>
			</ul>
		

		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item d-md-down-none">
				<a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span>
				</a>
			</li>
			<!--li class="nav-item d-md-down-none">
				<a class="nav-link" href="#"><i class="icon-list"></i></a>
			</li-->
			<li class="nav-item d-md-down-none">
				<a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					<img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
					<span class="d-md-down-none">admin</span>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<div class="dropdown-header text-center">
						<strong>Account</strong>
					</div>
					<a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
					<a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
					<a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
					<a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a>
					<div class="dropdown-header text-center">
						<strong>Settings</strong>
					</div>
					<a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
					<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
					<a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
					<a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
					<div class="divider"></div>
					<a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
					<a class="dropdown-item" href="/logout"><i class="fa fa-lock"></i> Logout</a>
				</div>
			</li>
			<li class="nav-item d-md-down-none">
				<a class="nav-link navbar-toggler aside-menu-toggler" href="#">☰</a>
			</li>
		</ul>
	</header>
    <!-------- header section end------------>
		<div class="app-body apmsrgrp">
<!-------- left sidebar section start------------>
			<div class="sidebar">
				<nav class="sidebar-nav">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="index.html">
								<i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span>
							</a>
						</li>
						<li class="nav-title">UI Elements</li>
						<li class="nav-item nav-dropdown">
							<a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Components</a>
							<ul class="nav-dropdown-items">
							<li class="nav-item">
								<a class="nav-link" href="components-buttons.html">
								<i class="icon-puzzle"></i> Buttons</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="components-social-buttons.html">
								<i class="icon-puzzle"></i> Social Buttons</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="components-cards.html"><i class="icon-puzzle"></i> Cards</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="components-forms.html"><i class="icon-puzzle"></i> Forms</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="components-modals.html"><i class="icon-puzzle"></i> Modals</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="components-switches.html"><i class="icon-puzzle"></i> Switches</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="components-tables.html"><i class="icon-puzzle"></i> Tables</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="components-tabs.html"><i class="icon-puzzle"></i> Tabs</a>
							</li>
							</ul>
						</li>
						<li class="nav-item nav-dropdown">
							<a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Icons</a>
							<ul class="nav-dropdown-items">
							<li class="nav-item">
								<a class="nav-link" href="icons-font-awesome.html"><i class="icon-star"></i> Font Awesome</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="icons-simple-line-icons.html"><i class="icon-star"></i> Simple Line Icons</a>
							</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="widgets.html"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> Charts</a>
						</li>
						<li class="divider"></li>
						<li class="nav-title">Extras</li>
						<li class="nav-item nav-dropdown">
							<a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>
							<ul class="nav-dropdown-items">
								<li class="nav-item">
									<a class="nav-link" href="pages-login.html" target="_top"><i class="icon-star"></i> Login</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="pages-register.html" target="_top"><i class="icon-star"></i> Register</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="pages-404.html" target="_top"><i class="icon-star"></i> Error 404</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="pages-500.html" target="_top"><i class="icon-star"></i> Error 500</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
<!-------- left sidebar section end------------>
<!-------- main section start------------>
			<main class="main">
<!-- Breadcrumb -->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<!--li class="breadcrumb-item"><a href="#">Admin</a></li-->
					<li class="breadcrumb-item active">Messenger (Group)</li>
					<li class="inbreadcrumb">
					<div class="column">
					
				</div>
<!-- create group -->
		<div class="md-modal md-effect-10" id="modal-10">
			<div class="md-content">
				<h3>Create Group</h3>
				<div class="row">
						<div class="row firstrow">
							<div class="col-md-4 label"><strong>Group Name </strong></div>
							<div class="col-md-7 input"><input type="text" placeholder=" Apple Group" name="groupName" class="groupName"></div>
						</div>
						<div class="border"></div>
						<div class="row firstrow">
							<div class="col-md-4 label"><strong>Add User </strong></div>
							<div class="col-md-7 input">
							<a data-toggle="modal" data-target="#myModal" class="addusr" href=''><i class="fa fa-plus-circle" aria-hidden="true"></i> </a><span>John Doe, </span><span>Ananya.</span></div>
						</div>
						<div class="border"></div>
					<div class="row btnrow">
						<button type="text" class="addGroup">Add Group</button>
					</div>
				</div>
			</div>
		</div>
<!-- add user popup -->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add User</h4>
					</div>
					<div class="modal-body">
						<div class="col-md-12">
							<input type="text" class="search-query form-control" placeholder="User Search" />
								<button class="addusersrch btn" type="button">Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- add user popup -->
<div class="md-overlay"></div><!-- the overlay element -->
<!-- create group -->
</li>
<!-- Breadcrumb Menu-->

				</ol>
				<div class="container-fluid msrgrp">
					<div class="animated fadeIn">
					<div class="sc_wrap">
<div class="container-fluid msrgrp">
	<div class="sc_row">
<!--------chat room section start------------>	
				<div class="sc_msngr_box">
<div class="mobile-sec">
	<button type="button" class="btnlf" data-toggle="collapse" data-target="#online-user">
		<span>Online User</span><i class="fa fa-caret-down" aria-hidden="true"></i>
	</button>
	<button type="button" class="btnrt" data-toggle="collapse" data-target="#group">
		<span>Group</span><i class="fa fa-caret-down" aria-hidden="true"></i>
	</button>
</div>
				<!-- <h1 class="chat heading">Chats</h1> -->
				<div class="msngr_row">
				  <div class="col-md-2 col-sm-12 col-xs-12 chat_user_colm col-lt collapse" id="online-user">
					<div class="msngr_propic">
					  <img class="img-responsive" src="img/avatars/6.jpg" alt="" >
						<h4>Ana</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
					</div>
					<div class="msngr_searchbar">
						<form>
						  <input type="text" name="search" placeholder="Search..">
						</form>
					</div>
	<div class="msngr_onlineusr">
    <h6>User Online</h6>
    </div>
	  <ul class="user_chat_box">

	 <% filtered = users.filter(function (a) { %>
        <%  var key = ['f1r5tn4m3', 'l45tn4m3'].map(function (k) { return a[k]; }).join('|'); %>
        <% if (!this[key]) { %>
        <%  return this[key] = true; %>
        <%  } %>
        <% }, Object.create(null)); %>
	


		
	  <% filtered.forEach(function(filtered){ %>
	  <% if(filtered["status"] == "active") { %>

	  	<li class="btn1">
			<i class="bdge fa fa-circle" aria-hidden="true"></i>

			<div class="chat_img"><img src="img/business-group.jpg" alt=""></div>
			<div class="chat_details">
				<h1 class="usr_name_txt"><%=filtered.f1r5tn4m3%> <%=filtered.l45tn4m3%></h1>
				<!-- <p>You: Be Right There!</p> -->
			</div>
			<div class="chat-time">
				<p>13:57</p>
			</div>
		</li>	

		<%} }); %>


		
<!-- 		<li class="btn2">
			<i class="bdge fa fa-circle" aria-hidden="true"></i>
			<div class="chat_img"><img src="img/girl_2.png" alt=""></div>
			<div class="chat_details">
				<h1 class="usr_name_txt">Ananya</h1>
		
			</div>
			<div class="chat-time">
				<p>02:00</p>
			</div>
		</li> -->
		
		
		<div class="clear"></div>
	  </ul>
	</div>
<!-- only for moblie view start-->

			<div class="col-md-2 col-sm-12 col-xs-12 chat_user_colm col-rt collapse"  id="group">
				<div class="msngr_searchbar">
						      <!-- <button style="width: 100%;" class="md-trigger" data-modal="modal-10"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Create Group</button> -->
					<form>
					  <input type="text" name="search" placeholder="Search..">
					</form>
				</div>
				<div class="msngr_chatrom1">
					<h6>My Room</h6>
				</div>
				<ul class="user_chat_box box-rom">
					<li class="btn5">
						<div class="chat_img"><img src="img/business-group.jpg" alt=""></div>
						<div class="chat_details">
							<h1 class="usr_name_txt">Group One</h1>
							<!-- <p>You: Be Right There!</p> -->
						</div>
						<div class="chat-time">
							<p>13:57</p>
						</div>
					</li>
					<li class="btn6">
						<div class="chat_img"><img src="img/business-group.jpg" alt=""></div>
						<div class="chat_details">
							<h1 class="usr_name_txt">Group Two</h1>
							<!-- <p>You: Hello!</p> -->
						</div>
						<div class="chat-time">
							<p>02:00</p>
						</div>
					</li>
					<div class="clear"></div>
				</ul>
				<div class="msngr_chatrom2">
					<h6>Conversations</h6>
				</div>

				



		</div>
<!-- only for moblie view end-->

<div class="col-md-8 col-sm-12 col-xs-12 rec_send_box"  >

<!-- -------------------------------- -->

<!-- --------------------------------------- -->

<!-- ---------------------------------------------- -->

<!-- ---------------------------------- -->
<div class="pp5">
	<div class="outer_top_div">
		<div class="chat_person_name">
			<img class="img-responsive" src="img/business-group.jpg" alt="" >
			<h1>Group One</h1>
		</div>
	</div>
	<!-- end of top middle status bar -->

	<!-- begin chat area -->
<div class="chat-sec group1" id="style-4" style="padding-bottom: 20px;">
	
<% users.forEach(function(users){ %>
  <% if(users["chats.room_id"] == 1) { %>

       <div class="rs_row">
       	<% if(users.id == currentUser.id){ %>
		<div class="sender_box">
        <% } else { %>
		<div class="recieve_box">
		  <p><%=users.f1r5tn4m3%> <%=users.l45tn4m3%> </p>
        <% } %>
		
		

		<% if(users.id == currentUser.id){ %>
		  <div class="sender_img">
		<% } else { %>
		  <div class="reciver_img">
		<% } %>
		  
			<img src="img/boy.jpg" alt="">
		  </div>
		  
		  <% if(users.id == currentUser.id){ %>
		  <div class="sender_txt"><%=users["chats.message"]%></div>
		  <% } else { %>
		  <div class="rec_txt"><%=users["chats.message"]%></div>
		  <% } %>
	     
		</div>
	  </div>

<% } }); %>



</div>

<!-- begin textarea form -->

<div class="msg_row grup-textarea">
  <div class="msg_txtarea">
  	<form id="room1Form">
      <input type="text" name="message" id="m" placeholder="enter message" class="form-control" style=" height: 60px;">
     <input class="path" id="room1" type="hidden" value="1">
    </form>
<!-- 	<textarea name="texts" id="exampleTextarea" cols="25" rows="1" class="form-control" placeholder="Type a Message..."></textarea> -->
  </div>
  <div class="msg_icon">
	<ul class="icons_inline">
	  <li>
		<a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
	  </li>
	  <li>
		<a href="#"><i class="fa fa-smile-o" aria-hidden="true"></i></a>
	  </li>
	  <li>
		<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
	  </li>
	</ul>
  </div>
</div>


</div>




<!-- ---------------------------------- -->
<div class="pp6" style="display:none;">
		<div class="outer_top_div">
			<div class="chat_person_name">
			<img class="img-responsive" src="img/business-group.jpg" alt="" >
			<h1>Group Two</h1>
			</div>
		</div>
<div class="chat-sec group2" id="style-4">

<% users.forEach(function(users){ %>
  <% if(users["chats.room_id"] == 2) { %>

	    <div class="rs_row">
       	<% if(users.id == currentUser.id){ %>
		<div class="sender_box">
        <% } else { %>
		<div class="recieve_box">
		  <p><%=users.f1r5tn4m3%> <%=users.l45tn4m3%> </p>
        <% } %>
		
		

		<% if(users.id == currentUser.id){ %>
		  <div class="sender_img">
		<% } else { %>
		  <div class="reciver_img">
		<% } %>
		  
			<img src="img/boy.jpg" alt="">
		  </div>
		  
		  <% if(users.id == currentUser.id){ %>
		  <div class="sender_txt"><%=users["chats.message"]%></div>
		  <% } else { %>
		  <div class="rec_txt"><%=users["chats.message"]%></div>
		  <% } %>
	     
		</div>
	  </div>


<% } }); %>



	<div class="rs_row">
		<div class="recieve_box"></div>
		<div class="sender_box"></div>
	</div>
</div>
  <div class="msg_row grup-textarea">
	<div class="msg_txtarea">
	<form id="room2Form">
		<!-- <textarea name="message" id="m2" cols="25" rows="1" class="form-control" placeholder="Type a Message..."></textarea> -->
	<input type="hidden" value="2" class="path">
	<input type="text" name="message" id="m2" placeholder="enter message" class="form-control" style=" height: 60px;">
	<input class="path" id="room2" type="hidden" value="2">
	</form>
	  </div>
		<div class="msg_icon">
			<ul class="icons_inline">
				<li>
					<a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-smile-o" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- ---------------------------------- -->
</div>
<div class="col-md-2 col-sm-2 col-xs-12 chat_user_colm col-rt"  id="style-4">
	<div class="msngr_searchbar">
		<button style="width: 100%;" class="md-trigger" data-modal="modal-10"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Create Group</button>
		<form>
		  <input type="text" name="search" placeholder="Search..">
		</form>
	</div>
	<div class="msngr_chatrom1">
		<h6>My Room</h6>
	</div>
	<ul class="user_chat_box box-rom">
		<li class="btn5" data-value="1">
			<div class="chat_img"><img src="img/business-group.jpg" alt=""></div>
			<div class="chat_details">
				<h1 class="usr_name_txt">Group One</h1>
				<!-- <p>You: Be Right There!</p> -->
			</div>
			<div class="chat-time">
				<p>13:57</p>
			</div>
		</li>
		<li class="btn6" data-value="2">
			<div class="chat_img"><img src="img/business-group.jpg" alt=""></div>
			<div class="chat_details">
				<h1 class="usr_name_txt">Group Two</h1>
				<!-- <p>You: Hello!</p> -->
			</div>
			<div class="chat-time">
				<p>02:00</p>
			</div>
		</li>
		<div class="clear"></div>
	</ul>
	<div class="msngr_chatrom2">
		<h6>Conversations</h6>
	</div>
	<ul class="user_chat_box">

		<div class="clear"></div>
	</ul>

</div>

</div>
				
</div>

<!-------- chat room section start------------>
  <div class="clear">
  </div>
</div>
	
			</main>
<!-------- left sidebar section start------------>
<!-------- right sidebar section start------------>
			<aside class="aside-menu">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><i class="icon-list"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#messages" role="tab"><i class="icon-speech"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#settings" role="tab"><i class="icon-settings"></i></a>
					</li>
				</ul>
			<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="timeline" role="tabpanel">
						<div class="callout m-0 py-2 text-muted text-center bg-faded text-uppercase">
							<small><b>Today</b></small>
						</div>
					<hr class="transparent mx-3 my-0">
						<div class="callout callout-warning m-0 py-3">
							<div class="avatar float-right">
								<img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
							</div>
							<div>Meeting with<strong>Lucas</strong></div>
							<small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
							<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA</small>
						</div>
					<hr class="mx-3 my-0">
						<div class="callout callout-info m-0 py-3">
							<div class="avatar float-right">
								<img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
							</div>
							<div>Skype with<strong>Megan</strong></div>
							<small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 4 - 5pm</small>
							<small class="text-muted"><i class="icon-social-skype"></i>&nbsp; On-line</small>
						</div>
					<hr class="transparent mx-3 my-0">
						<div class="callout m-0 py-2 text-muted text-center bg-faded text-uppercase">
							<small><b>Tomorrow</b></small>
						</div>
					<hr class="transparent mx-3 my-0">
						<div class="callout callout-danger m-0 py-3">
							<div>New UI Project - <strong>deadline</strong></div>
							<small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 10 - 11pm</small>
							<small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ</small>
							<div class="avatars-stack mt-2">
								<div class="avatar avatar-xs">
									<img src="img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
								<div class="avatar avatar-xs">
									<img src="img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
								<div class="avatar avatar-xs">
									<img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
								<div class="avatar avatar-xs">
									<img src="img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
								<div class="avatar avatar-xs">
									<img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
							</div>
						</div>
					<hr class="mx-3 my-0">
						<div class="callout callout-success m-0 py-3">
							<div><strong>#10 Startups.Garden</strong>Meetup</div>
							<small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 1 - 3pm</small>
							<small class="text-muted"><i class="icon-location-pin"></i>&nbsp; Palo Alto, CA</small>
						</div>
					<hr class="mx-3 my-0">
						<div class="callout callout-primary m-0 py-3">
							<div><strong>Team meeting</strong></div>
							<small class="text-muted mr-3"><i class="icon-calendar"></i>&nbsp; 4 - 6pm</small>
							<small class="text-muted"><i class="icon-home"></i>&nbsp; creativeLabs HQ</small>
							<div class="avatars-stack mt-2">
								<div class="avatar avatar-xs">
									<img src="img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
								<div class="avatar avatar-xs">
									<img src="img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
								<div class="avatar avatar-xs">
									<img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
								<div class="avatar avatar-xs">
									<img src="img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
								<div class="avatar avatar-xs">
									<img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
								<div class="avatar avatar-xs">
									<img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
								<div class="avatar avatar-xs">
									<img src="img/avatars/8.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
								</div>
							</div>
						</div>
					<hr class="mx-3 my-0">
					</div>
					<div class="tab-pane p-3" id="messages" role="tabpanel">
						<div class="message">
							<div class="py-3 pb-5 mr-3 float-left">
								<div class="avatar">
									<img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
									<span class="avatar-status badge-success"></span>
								</div>
							</div>
							<div>
								<small class="text-muted">Lukasz Holeczek</small>
								<small class="text-muted float-right mt-1">1:52 PM</small>
							</div>
							<div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
							<small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
						</div>
					<hr>
						<div class="message">
							<div class="py-3 pb-5 mr-3 float-left">
								<div class="avatar">
									<img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
									<span class="avatar-status badge-success"></span>
								</div>
							</div>
							<div>
								<small class="text-muted">Lukasz Holeczek</small>
								<small class="text-muted float-right mt-1">1:52 PM</small>
							</div>
							<div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
							<small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
						</div>
					<hr>
						<div class="message">
							<div class="py-3 pb-5 mr-3 float-left">
								<div class="avatar">
									<img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
									<span class="avatar-status badge-success"></span>
								</div>
							</div>
							<div>
								<small class="text-muted">Lukasz Holeczek</small>
								<small class="text-muted float-right mt-1">1:52 PM</small>
							</div>
								<div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
								<small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
						</div>
					<hr>
						<div class="message">
							<div class="py-3 pb-5 mr-3 float-left">
								<div class="avatar">
									<img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
									<span class="avatar-status badge-success"></span>
								</div>
							</div>
							<div>
								<small class="text-muted">Lukasz Holeczek</small>
								<small class="text-muted float-right mt-1">1:52 PM</small>
							</div>
							<div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
							<small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
						</div>
					<hr>
						<div class="message">
							<div class="py-3 pb-5 mr-3 float-left">
								<div class="avatar">
									<img src="img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
									<span class="avatar-status badge-success"></span>
								</div>
							</div>
							<div>
								<small class="text-muted">Lukasz Holeczek</small>
								<small class="text-muted float-right mt-1">1:52 PM</small>
							</div>
							<div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
							<small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
						</div>
					</div>
					<div class="tab-pane p-3" id="settings" role="tabpanel">
						<h6>Settings</h6>
						<div class="aside-options">
							<div class="clearfix mt-4">
								<small><b>Option 1</b></small>
								<label class="switch switch-text switch-pill switch-success switch-sm float-right">
									<input type="checkbox" class="switch-input" checked="">
									<span class="switch-label" data-on="On" data-off="Off"></span>
									<span class="switch-handle"></span>
								</label>
							</div>
						<div>
							<small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
						</div>
						</div>
						<div class="aside-options">
							<div class="clearfix mt-3">
								<small><b>Option 2</b></small>
								<label class="switch switch-text switch-pill switch-success switch-sm float-right">
								<input type="checkbox" class="switch-input">
								<span class="switch-label" data-on="On" data-off="Off"></span>
								<span class="switch-handle"></span>
							</label>
							</div>
							<div>
								<small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
							</div>
						</div>
						<div class="aside-options">
							<div class="clearfix mt-3">
								<small><b>Option 3</b></small>
								<label class="switch switch-text switch-pill switch-success switch-sm float-right">
									<input type="checkbox" class="switch-input">
									<span class="switch-label" data-on="On" data-off="Off"></span>
									<span class="switch-handle"></span>
								</label>
							</div>
						</div>
						<div class="aside-options">
							<div class="clearfix mt-3">
								<small><b>Option 4</b></small>
								<label class="switch switch-text switch-pill switch-success switch-sm float-right">
									<input type="checkbox" class="switch-input" checked="">
									<span class="switch-label" data-on="On" data-off="Off"></span>
									<span class="switch-handle"></span>
								</label>
							</div>
						</div>
					<hr>
						<h6>System Utilization</h6>
						<div class="text-uppercase mb-1 mt-4">
							<small><b>CPU Usage</b></small>
						</div>
						<div class="progress progress-xs">
							<div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<small class="text-muted">348 Processes. 1/4 Cores.</small>
						<div class="text-uppercase mb-1 mt-2">
							<small><b>Memory Usage</b></small>
						</div>
						<div class="progress progress-xs">
							<div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<small class="text-muted">11444GB/16384MB</small>
						<div class="text-uppercase mb-1 mt-2">
							<small><b>SSD 1 Usage</b></small>
						</div>
						<div class="progress progress-xs">
							<div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<small class="text-muted">243GB/256GB</small>
						<div class="text-uppercase mb-1 mt-2">
							<small><b>SSD 2 Usage</b></small>
						</div>
						<div class="progress progress-xs">
							<div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<small class="text-muted">25GB/256GB</small>
					</div>
				</div>
			</aside>
<!-------- right sidebar section end------------>
		</div>
		<footer class="app-footer">
			<a href="http://coreui.io">CoreUI</a> © 2017 creativeLabs.
			<span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>
		</footer>
	<!-- Bootstrap and necessary plugins -->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> 
<script src="js/sm_newsTicker.js"></script> 
<script src="js/sm_custom.js"></script> 
<script>
	 jQuery(document).ready(function() {			
            jQuery(".onclick_function").click(function(){
               jQuery(".chat_inline").slideToggle( 'slow', function(){ 
                  
               });
            });
            
         });
</script>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script>
$(document).ready(function(){
    $(".btn1").click(function(){
        $(".pp2,.pp3,.pp4,.pp5,.pp6").hide();
    });
    $(".btn2").click(function(){
        $(".pp1,.pp3,.pp4,.pp5,.pp6").hide();
    });
    $(".btn3").click(function(){
        $(".pp1,.pp2,.pp4,.pp5,.pp6").hide();
    });
    $(".btn4").click(function(){
        $(".pp1,.pp2,.pp3,.pp5,.pp6").hide();
    });
    $(".btn5").click(function(){
        $(".pp1,.pp2,.pp3,.pp4,.pp6").hide();
    });$(".btn6").click(function(){
        $(".pp1,.pp2,.pp3,.pp4,.pp5").hide();
    });

    $(".btn1").click(function(){
        $(".pp1").show();
    });
    $(".btn2").click(function(){
        $(".pp2").show();
    });
    $(".btn3").click(function(){
        $(".pp3").show();
    });
    $(".btn4").click(function(){
        $(".pp4").show();
    });
    $(".btn5").click(function(){
        $(".pp5").show();
    });
    $(".btn6").click(function(){
        $(".pp6").show();
    });
    
});
</script>

		<script src="js/classie.js"></script>
		<script src="js/modalEffects.js"></script>
		<script src="js/cssParser.js"></script>
		
	<script src="bower_components/tether/dist/js/tether.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/pace/pace.min.js"></script>
	<!-- Plugins and scripts required by all views -->
	<script src="bower_components/chart.js/dist/Chart.min.js"></script>
	<!-- GenesisUI main scripts -->
	<script src="js/app.js"></script>
	<script>
			$(function(){
    $(".drpwn").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("slow");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("slow");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");                
            });
    });
	</script>
	<script>
	function myFunction() {
    var x = document.getElementById('myDIV');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
	$("button#next").click(function(){
	$("div#step-1-panel").hide();$("div#step-2-panel").show();
	$("#s1").addClass("pass");
	});
	</script>

<script src="/socket.io/socket.io.js"></script>


<script>
 $(function () {


// <!-- autoscroll on page load -->
$(".group1").scrollTop($(".group1")[0].scrollHeight);

$('.btn6').click(function(){
  $(".group2").scrollTop($(".group2")[0].scrollHeight);
});

$('.btn5').click(function(){
  $(".group1").scrollTop($(".group1")[0].scrollHeight);
});

var socket = io();


	
    $('#room1Form').submit(function(e){
    e.preventDefault()
      msg = $('#m').val();
      path = $('#room1').val();
  

      data = {
        msg: msg, 
        id: '<%=currentUser.id%>', 
        roomId: path,
        firstname: '<%=currentUser.f1r5tn4m3%>', 
        lastname: '<%=currentUser.l45tn4m3%>'
      }
    

      socket.emit('chat message', data);
      $('#m').val('');
      return false;
    });

    
    

    socket.on('chat message', function(msg){
    	var last_user = $('.last-received1').text();
    	var current_msg_name = msg.firstname + " " + msg.lastname;
    	$('.last-received1').removeClass('last-received1');


    	if(msg.roomId == 1 && last_user == current_msg_name) {
    		$('.group1').append(
      		"<div class='rs_row'>"+
			"<div class='recieve_box txt_only'>" +
			"<p class='last-received1 hidden'>"+msg.firstname+" "+msg.lastname + "</p>"+
	      "<div class='rec_txt txt_only'>"+msg.msg+
	      "</div>" +
		"</div>" +
	  "</div>");
    	} else if(msg.roomId == 1 && msg.id != '<%=currentUser.id%>') {
    	$('.group1').append(
      	"<div class='rs_row'>"+
		"<div class='recieve_box'>" +
		"<p class='last-received1'>"+msg.firstname+" "+msg.lastname + "</p>"+
		  "<div class='reciver_img'>" +
			"<img src='img/boy.jpg' alt=''>" +
		  "</div>" +
	      "<div class='rec_txt'>"+msg.msg+
	      "</div>" +
		"</div>" +
	  "</div>");
    		
    	} else if(msg.roomId == 1 && msg.id == '<%=currentUser.id%>') {
    		$('.group1').append(
      	"<div class='rs_row'>"+
		"<div class='sender_box'>" +
		  "<div class='sender_img'>" +
			"<img src='img/boy.jpg' alt=''>" +
		  "</div>" +
	      "<div class='sender_txt'>"+msg.msg+
	      "</div>" +
		"</div>" +
	  "</div>");

    	} else {

    	}

   $(".group1").scrollTop($(".group1")[0].scrollHeight);
  });
  

//socket 2 / Room 2

    $('#room2Form').submit(function(e){
    e.preventDefault()
      msg = $('#m2').val();
      path = $('#room2').val();
      console.log(path);

      data = {
        msg: msg, 
        id: '<%=currentUser.id%>', 
        roomId: path,
        firstname: '<%=currentUser.f1r5tn4m3%>', 
        lastname: '<%=currentUser.l45tn4m3%>'
      }
      console.log(data);

      socket.emit('chat message', data);
      $('#m2').val('');
      return false;
    });

    socket.on('chat message', function(msg){
    	var last_user2 = $('.last-received2').text();
    	var current_msg_name = msg.firstname + " " + msg.lastname;
    	$('.last-received2').removeClass('last-received2');
    	
    	if(msg.roomId == 2 && last_user2 == current_msg_name) {
    		$('.group2').append(
      		"<div class='rs_row'>"+
			"<div class='recieve_box txt_only'>" +
			"<p class='last-received2 hidden'>"+msg.firstname+" "+msg.lastname + "</p>"+
	      "<div class='rec_txt txt_only'>"+msg.msg+
	      "</div>" +
		"</div>" +
	  "</div>");
    	} else if(msg.roomId == 2 && msg.id != '<%=currentUser.id%>') {
    	$('.group2').append(
      	"<div class='rs_row'>"+
		"<div class='recieve_box'>" +
		"<p class='last-received2'>"+msg.firstname+" "+msg.lastname + "</p>"+
		  "<div class='reciver_img'>" +
			"<img src='img/boy.jpg' alt=''>" +
		  "</div>" +
	      "<div class='rec_txt'>"+msg.msg+
	      "</div>" +
		"</div>" +
	  "</div>");
    		
    	} else if(msg.roomId == 2 && msg.id == '<%=currentUser.id%>') {
    		$('.group2').append(
      	"<div class='rs_row'>"+
		"<div class='sender_box'>" +
		  "<div class='sender_img'>" +
			"<img src='img/boy.jpg' alt=''>" +
		  "</div>" +
	      "<div class='sender_txt'>"+msg.msg+
	      "</div>" +
		"</div>" +
	  "</div>");

    	} else {

    	}


   $(".group2").scrollTop($(".group2")[0].scrollHeight);
    });



});


</script>




	</body>
</html>
